@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --primary-color: #FC4C02;
    --secondary-color: #356681;
    --black_site-color : #060F21;
    --input-bg: #F9F9F9;
    --input-border: 1px solid #CFD3D4;
    --input-color: rgb(0, 0, 0);
    --hint-color: rgba(6,15,33,50%);
    --roboto-font: 'Roboto', sans-serif;
    --heebo-font: 'Heebo', sans-serif;
    --oswald-font: 'Oswald', sans-serif;
    --shadow-text-color : rgba(0,0,0,5%);
}

#diver_app_register {
    min-height: 90vh;
    display: flex;
    align-items: center;
}
.full_width_btn {
    width: 100%;
}
.input_text{
    border: var(--input-border) !important;
    background: var(--input-bg);
    font-family: var(--roboto-font);
    border: var(--input-border);
    color: var(--input-color);
    border-radius: 4px;
    font-size: 16px;
    padding: 15px;
}
.input_text::placeholder{
    color: rgba(6, 15, 33, 0.5);
    font-weight: 400;
}
.input_text:hover, .input_text:focus{
    box-shadow: none;
    border-color: black !important;
}
.shadow_text{
    font-size: 70px;
    font-family: var(--oswald-font);
    font-weight: 600;
    color: var(--shadow-text-color);
    text-transform: uppercase;
}
.big_text{
    font-size: 200px;
    font-weight: 900;
}
.side_mobile_image {
    margin-top: -140px;
    max-width: 670px;
}
.p_form{
    padding: 20px 40px;
}
a:hover .svg.cross_icon {
    filter: brightness(0.5);
}
.form_bold_text{
    font-size: 24px;
    font-family: var(--oswald-font);
    font-weight: 500;
    color: var(--black_site-color);
}
.required_field{
    position: relative;
}
.required_field:after {
    content: '*';
    font-size: 17px;
    color: var(--primary-color);
    position: absolute;
    left: 100%;
    top: 0;
}
.label_form{
    font-weight: 400;
    font-size: 16px;
    font-family: var(--roboto-font);
    color: var(--black_site-color);
    margin-bottom: 10px;
}
.sort_info{
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    color: #555555;
    display: inline-block;
    font-family: var(--roboto-font);
}
.iti.iti--allow-dropdown{
    width: 100%;
}
.input_form{
    margin: 40px 0px;
}
.submit_btn{
    padding: 15px 50px 15px 50px;
    font-family:var(--oswald-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: white;
    background-color: var(--primary-color);
    border-style: none;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 7px 15px 0px rgba(65.99999999999999, 132.9999999999998, 244, 0);
}
.submit_btn:hover{
    background-color: var(--secondary-color);
}
.subtitle{
    color: var(--black_site-color);
    font-size: 20px;
    font-family: var(--oswald-font);
    font-weight: 500;
    display: inline-block;
    position: absolute;
    right: 107%;
    width: auto;
    white-space: nowrap;
}
.loginFieldIcon {
    max-width: 34px;
    position: absolute;
    top: 50%;
    left: 24px;
    border-right: 1px solid rgba(17, 29, 53, .3);
    padding-right: 10px;
    transform: translateY(-50%);
}
.loginFieldIcon.password_icon {
    right: 15px;
    left: unset;
    border-left: 1px solid rgba(17, 29, 53, .3);
    border-right: none;
    padding-left: 10px;
    padding-right: 0;
    cursor: pointer;
    opacity: .5;
}
.loginFieldIcon.password_icon:hover{
    opacity: 1;
}

.blue_btn{
    background-color: var(--secondary-color);
}
.blue_btn:hover, .black_btn_hover:hover{
    background-color: black;
}
.sm_form_row{
    padding-left: 25% !important;
    margin-top: 5vh !important;
}
.bold_label{
    font-size: 20px;
    color: var(--black_site-color);
    font-family: var(--oswald-font);
    font-weight: 600;
}
.normal_info{
    color: rgba(6, 15, 33, 0.50);
    font-size: 14px;
    font-family: var(--roboto-font);
    font-style: normal;
    text-align: left;
}
.md_label{
    font-weight: 500;
    color: rgba(6, 15, 33, 1);
    text-align: left;
}
.less_left_space{
    right: 93%;
}
.store_app_img {
    width: 100%;
    max-height: 60px !important;
    min-height: 60px !important;
    object-fit: contain;
}






@media(max-width:1553px){
    .sm_white_space{
        font-size: 55px;
    }
}


@media(max-width:1242px){
    .sm_white_space{
        font-size: 45px;
    }
}

@media (max-width:1024px){
    
    .big_text {
        font-size: 110px;
    }
    .side_mobile_image {
        margin-top: -110px;
        max-width: 670px;
    }
}

@media (max-width:798px){
    .p_form{
        padding: 20px 20px;
    }
    .big_text {
        font-size: 130px;
    }
    .side_mobile_image {
        margin-top: -110px;
        max-width: 670px;
    }
}

@media (max-width:768px){
    .subtitle {
        color: var(--black_site-color);
        font-size: 20px;
        font-family: var(--oswald-font);
        font-weight: 500;
        display: inline-block;
        position: relative;
        right: 0;
        width: auto;
        white-space: nowrap;
        margin-bottom: 20px;
    }
}

@media (max-width:492px){
    .big_text {
      font-size: 70px;
    }
    .side_mobile_image {
        margin-top: -80px;
        max-width: 670px;
    }
    .sm_white_space{
        font-size: 30px;
    }
    .col-lg-10.col-md-10.col-sm-12.col-12.col_form_settings.mb-2.offset-2 {
        margin-left: 0;
    }
    .form_bold_text{
        padding-right: 0px !important;
    }
}