.password-fieldd-lt input[type='password']{
	display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	padding: 10px 12px;
    background-color: rgba(255,255,255,.5);
}
.whole-box-link{
	position: relative;
}
.whole-box-link > a{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
}
.top_tab_menu li a.nav-link {
    font-size: 16px;
    color: var(--primary-font-color);
    font-weight: 400;
    font-family: var(--primary-font-family);
    background: transparent;
    margin: 0px 3px;
    padding: 6px 20px;
    border-radius: 20px;
    cursor: pointer;
    z-index: 1;
}